# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
/changelog.txt
/CREDITS.txt
/LICENSE-Paulscode IBXM Library.txt
/LICENSE-Paulscode SoundSystem CodecIBXM.txt
/README.txt
